.MobCapion {
  display: none;
}
@media (max-width: 700px) {
  .MobCapion {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  .MobCapion div h3 {
    font-size: 3rem;
    line-height: 2.2rem;
    color: #ffffff;
  }

  .MobCapion div h2 {
    color: #f6ea68;
    font-size: 4.4rem;
    line-height: 0.75;
  }
  .MobCapion div h1 {
    font-size: 6rem;
    line-height: 0.75;
    color: #ffa090;
  }
  .MobCapion h1,
  .MobCapion h2,
  .MobCapion h3 {
    margin: 0;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  }
}
